<h1>Find Google Doc to submit</h1>
<% if @result_hash %>
    <h2>Results</h2>
    <% @result_hash['items'].each do |i| %>
        <a href="<%= i['alternateLink'] %>"><%= i['title'] %></a>
        <% form_tag :controller => 'google_doc', :action => 'create',
                    :fileId => i['id'], :participant_id => @participant.id,
                    :link => i['alternateLink'] do %>
            <%= submit_tag "Submit" %>
        <% end %>
        <br/>
    <% end %>
<% end %>
<h2>Search for Google Doc</h2>
<% form_tag :controller => 'google_doc', :action => 'index', :participant_id => @participant.id do %>
    <%= label_tag(:title_search, "Title:") %>
    <%= text_field_tag(:title_search) %>
    <%= submit_tag("Search") %>
<% end %>
<h2>Show recent Google Docs</h2>
<% form_tag :controller => 'google_doc', :action => 'index', :participant_id => @participant.id do %>
    <%= label_tag(:list_count, "Number of recent docs:") %>
    <%= select('', 'list_count', [5, 10, 20, 50]) %>
    <%= submit_tag("Search") %>
<% end %>
